.about-title {
  align-self: center;
  line-height: 2;
}

.features img {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 370px;
  margin: auto;
  margin-bottom: 15px;
}

.aboutInfo {
  display: flex;
  align-content: center;
  line-height: 2;
  text-align: center;
}

.contact {
  line-height: 4;
  margin: auto;
}

.btn-primary {
  background-color: #96cafa;
  border: 1px solid #67aae9;
}
